<section id="section">
    <div class="bgsm"></div>
<div id="main">

    <h1>
        <span>
            Everything you need.
        </span>
        <span>
            One business travel tool.
        </span>
    </h1>
    <p>
        <span>
            Loaded with all the travel perks your business really needs.
        </span>
        <span>
            From booking to managing, corporate travel has never been this smooth.
        </span>
        
    </p>
    <button class="btn">
        Request Demo
    </button>
</div>
<div id="second" class=" h2Size"> 
    Keeping everyone happy
</div>
</section>
