
<section class="sectionOne my-5">
    <div *ngFor="let item of  Return(); index as i">
        <h2 (click)="active=i" [ngClass]="{
            isBlur:active==i,
            fontsize:true
        }">{{item[0]}}</h2>
       <ul [ngClass]="{
        notActive:active!=i
       }">
        <ng-container *ngIf="active==i">
            <li    *ngFor="let subitem of item[1]" >
                <span>
                    {{subitem}}
                </span>
            </li>
            <li>
                More for {{item[0]}}
            </li>
        </ng-container>
       </ul>
    </div>
   
</section>

<section class="sectionTwo">
    <h2 class="text-center  h2Size ">
        This is why we do what we do
    </h2>
    <marquee [scrollAmount]="5" class="mt-5" > 
        <div class="w-100">
            <ng-container *ngFor="let item of partners">
                <img src="../../../assets/carrousel-{{item}}.svg" alt="">
            </ng-container>
        </div>
    </marquee>
</section>